<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ERROR!!</h1>
    <details>
        <summary>You are facing an error, click here for more details</summary>
        <p>Error status: <%= error.status %> <br>
                Error Message: <%= error.error %>
        </p>
    </details>  
</body>
</html>